.idea/
venv/
env/

*.pyc
__pycache__/


.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
*test_feature*
*fastq*
*.db
.Rproj.user

frontend/node_modules/
node_modules/
.Rproj.user
.Rhistory
fibrodb-data/

*.snakemake*
*.xz
preprocess/snake/sras/
preprocess/snake/star/
preprocess/snake/star_raw/
preprocess/snake/fastqs_prepped/
preprocess/snake/logs/
preprocess/snake/QC/
preprocess/snake/counts/

