.idea/
venv/
env/

*.pyc
__pycache__/


.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
*test_feature*

*.db
.Rproj.user

frontend/node_modules/
node_modules/
.Rproj.user
*.Rproj
.Rhistory
