<!doctype html>
<title>{% block title %}{% endblock %} - FibroDB</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>FibroDB</h1>
    <ul>
        <li><a href="{{ url_for('webui.home') }}">Home</a>
        <li><a href="{{ url_for('webui.deg_explorer') }}">Gene Explorer</a>
        <li><a href="{{ url_for('webui.downloads') }}">Downloads</a>
        <li><a href="{{ url_for('webui.api_ref') }}">API</a>
        <li><a href="{{ url_for('webui.helppage') }}">Help</a>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
